<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Content/Scripts/myTestApp.js"></script>
</head>
<body ng-app="myTestApp">
    {{5-6}}
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/E-Dziennik.jpg" class="img-center" height="50" width="50" alt="MyProgramLogo" />
            </div>*@
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="~/Content/Images/E-Dziennik.jpg" class="img-center" height="50" width="50" alt="MyProgramLogo" />
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">E-DictionaryBook</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Language
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Polish</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Account
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Gradebook</a></li>
                                <li><a href="#">Account settings</a></li>
                                <li><a href="#">Personal data</a></li>
                                <li><a href="#">Finances</a></li>
                                <li><a href="#">Dormitory</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Schedule</a></li>
                        <li><a href="#">Mails</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Other
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Announcement</a></li>
                                <li><a href="#">Notes</a></li>
                                <li><a href="#">Tasks</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                @Html.Partial("_LoginPartial")
            </nav>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - E-DictionaryBook</p>
            Created by Inszynier :)
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
